.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
database/*.sqlite*
tests
docker/8.3
docker/8.4
compose.yaml
